.blog-slider {
    max-width: 768px;
    width: 100%;
    margin: 0;
}

.all_recognition_box .slider {
    max-width: 768px;
    margin: 0;
    overflow: hidden;
}

/* .fixed{
    z-index: 99999;
} */

#mid_nav{
    padding: 20px 0 5px 0;
}

.mid_parent_sec {
    transition: all 0.3s linear;
    z-index: 9999;
    position: sticky;
    top: 0;
}
